.ChatInput {
  display: block;
  margin: 10px auto;
  padding: 10px 45px;
  clear:both;
  bottom: 0;
  position: fixed;
  width: 98%;

  input {
    padding: 10px;
    background-color:#676975;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 95%;
  }

  ::placeholder {
    color: rgb(175, 176, 180);
  }
}